{
  "parser": "babel-eslint",
  "plugins": ["prettier", "flowtype", "jsx-a11y"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:flowtype/recommended",
    "prettier/flowtype",
    "prettier/react"
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
